 body{
  background-color: black;
}
.result{
  color: white;
  font-family: Arial;
  font-size: 38px;
  margin-bottom: 5px;
  margin-left: 5px;
}
button{
  height: 55px;
  width: 55px;
  border: none;
  border-radius: 400px;
  cursor: pointer;
  font-size: 22px;
  color: white;
  margin-right: 5px;
}
.clear-button{
  font-size: 15px;
  font-weight: 550;
}
.gray-button{
  background-color: rgb(61, 61, 61);
}
.orange-button{
  background-color: orange;
}